.single__car {
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.35);
}

.single__car-picture img {
    width: 12rem;
    height: 10rem;
    object-fit: cover;
    transition: 0.3s;
}

.single__car-picture img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.single__car-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: var(--color-white);
}

.single__car-details > div {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.single__car-details_brand_model {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.single__car-details_price {
    font-weight: 700;
    color: var(--color-black);
}

.single__car-details_city {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    .single__car-picture img {
        width: 100%;
        height: 100%;
    }
    .single__car {
        flex-direction: column;
    }
    .single__car-details {
        margin-top: 1rem;
    }
}